[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
	branch = master
[submodule ".vim/pack/tareqak/start/nerdcommenter"]
	path = .vim/pack/tareqak/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
	branch = master
[submodule ".vim/pack/tareqak/start/vim-signify"]
	path = .vim/pack/tareqak/start/vim-signify
	url = https://github.com/mhinz/vim-signify
	branch = master
[submodule ".vim/pack/tareqak/start/syntastic"]
	path = .vim/pack/tareqak/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
	branch = master
[submodule ".vim/pack/tareqak/start/tabular"]
	path = .vim/pack/tareqak/start/tabular
	url = https://github.com/godlygeek/tabular
	branch = master
[submodule ".vim/pack/tareqak/start/vim-airline"]
	path = .vim/pack/tareqak/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	branch = master
[submodule ".vim/pack/tareqak/start/vim-airline-themes"]
	path = .vim/pack/tareqak/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	branch = master
[submodule ".vim/pack/tareqak/start/vim-numbertoggle"]
	path = .vim/pack/tareqak/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
	branch = master
[submodule ".vim/pack/tareqak/start/onedark.vim"]
	path = .vim/pack/tareqak/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
	branch = master
[submodule ".vim/pack/tareqak/start/vim-polyglot"]
	path = .vim/pack/tareqak/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
	branch = master
